
body {
    overflow-x: hidden!important;
}
.header{
    position: relative;
    background-image: url(../images/bg-video.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .bubble-holder {
        width: 24em;
        height: 24em;
        position: absolute;
        z-index: 1;
        margin: 20px;
        top: -50%;
        left: 40%;
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
        -webkit-animation: move-bubble 15s linear infinite;
        animation: move-bubble 15s linear infinite;
        -webkit-transform-origin: -100% 200%;
        transform-origin: -200% 200%;
        opacity: 0
    }
    
    .bubble-holder.two {
        -webkit-transform-origin: -100% -100%;
        transform-origin: -200% -100%;
        top: 40%;
        left: 80%
    }
    
    .bubble-holder.three {
        -webkit-transform-origin: 200% 200%;
        transform-origin: 200% 200%;
        left: 30%
    }
    
    .bubble-rotate-offset {
        width: 100%;
        height: 100%;
        -webkit-animation: rotate-bubble-offset 15s linear infinite;
        animation: rotate-bubble-offset 15s linear infinite
    }
    
    .ball {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        position: relative;
        background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%)
    }
    
    .ball:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
        -webkit-filter: blur(5px);
        filter: blur(5px);
        z-index: 2
    }
    
    .ball:after {
        content: "";
        position: absolute;
        display: none;
        top: 5%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        -webkit-filter: blur(1px);
        filter: blur(1px);
        z-index: 2;
        -webkit-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg)
    }
    
    .ball .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, transparent 50%);
        -webkit-transform: rotateX(90deg) translateZ(-160px);
        transform: rotateX(90deg) translateZ(-160px);
        z-index: 1
    }
    
    .ball.bubble {
        background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
        -webkit-animation: bubble-anim 2s ease-out infinite;
        animation: bubble-anim 2s ease-out infinite
    }
    
    .ball.bubble:before {
        -webkit-filter: blur(0);
        filter: blur(0);
        height: 80%;
        width: 40%;
        background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
        -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
        transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg)
    }
    
    .ball.bubble:after {
        display: block;
        background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%)
    }
    
    @-webkit-keyframes bubble-anim {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
        20% {
            -webkit-transform: scaleY(.95) scaleX(1.05);
            transform: scaleY(.95) scaleX(1.05)
        }
        48% {
            -webkit-transform: scaleY(1.1) scaleX(.9);
            transform: scaleY(1.1) scaleX(.9)
        }
        68% {
            -webkit-transform: scaleY(.98) scaleX(1.02);
            transform: scaleY(.98) scaleX(1.02)
        }
        80% {
            -webkit-transform: scaleY(1.02) scaleX(.98);
            transform: scaleY(1.02) scaleX(.98)
        }
        97%,
        100% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    
    @keyframes bubble-anim {
        0% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
        20% {
            -webkit-transform: scaleY(.95) scaleX(1.05);
            transform: scaleY(.95) scaleX(1.05)
        }
        48% {
            -webkit-transform: scaleY(1.1) scaleX(.9);
            transform: scaleY(1.1) scaleX(.9)
        }
        68% {
            -webkit-transform: scaleY(.98) scaleX(1.02);
            transform: scaleY(.98) scaleX(1.02)
        }
        80% {
            -webkit-transform: scaleY(1.02) scaleX(.98);
            transform: scaleY(1.02) scaleX(.98)
        }
        97%,
        100% {
            -webkit-transform: scale(1);
            transform: scale(1)
        }
    }
    
    @-webkit-keyframes move-bubble {
        0% {
            -webkit-transform: translateX(-50%) rotateZ(-30deg);
            transform: translateX(-50%) rotateZ(-30deg);
            opacity: 0
        }
        10% {
            opacity: 1
        }
        80% {
            opacity: 1
        }
        100% {
            opacity: 0;
            -webkit-transform: translateX(-50%) rotateZ(30deg);
            transform: translateX(-50%) rotateZ(30deg)
        }
    }
    
    @keyframes move-bubble {
        0% {
            -webkit-transform: translateX(-50%) rotateZ(-30deg);
            transform: translateX(-50%) rotateZ(-30deg);
            opacity: 0
        }
        10% {
            opacity: 1
        }
        80% {
            opacity: 1
        }
        100% {
            opacity: 0;
            -webkit-transform: translateX(-50%) rotateZ(30deg);
            transform: translateX(-50%) rotateZ(30deg)
        }
    }
    
    @-webkit-keyframes rotate-bubble-offset {
        0% {
            -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg)
        }
        100% {
            -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg)
        }
    }
    
    @keyframes rotate-bubble-offset {
        0% {
            -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg)
        }
        100% {
            -webkit-transform: rotateZ(-30deg);
            transform: rotateZ(-30deg)
        }
    }
    
    
    .overlay-video{
        &:after{
            content:"";
            position: absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
            z-index:0;
            background-color: rgba(35, 41, 49, 0.637);
        }
        .video{
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            @media(max-width: $screen-xs-max){
                display: none;
            }
        }
    }

    .cities{
        position: absolute;
        top: 0;
        right: 270px;
        height: 100%;
        z-index: 2;
        .content-cities{
            background-color: $blue-4;
            height: 100%;
            .title-cities {
                padding: 40px;
                h2{
                    font-family: 'Oswald', sans-serif;
                    text-transform: uppercase;
                    color: $blue-dark;
                    font-size: 2rem;
                    line-height: 2rem;
                }

                .icon-cities{
                    display: block;
                    margin-bottom: 10px;
                    width: 70px;
                }
            }

            

            .link-cities{
                text-decoration: none!important;
                .box-run-citie{
                    @include opacity(0.5);
                    @include transition(0.5s);
                    &:hover{
                        opacity: 1;
                        background-color: $blue-5;
                        .place-text {
                            @include transition(0.5s);
                            .data{
                                span{
                                    color: $white;
                                }
                            }
                            .address{
                                color: $white;
                            }
                            .state{
                                color: $blue-4;
                            }
                        }
                    }
                  .place-text {
                      color: $blue-dark;
                      font-size: 2rem;
                      line-height: 2rem;
                      padding: 30px 40px;
                      text-transform: uppercase;
                      .data{
                          span{
                              font-family: 'Oswald', sans-serif;
                          }
                      }
                      .state{
                          font-family: 'Oswald', sans-serif;
                      }
  
                      .address{
                          display: block;
                          text-transform: capitalize;
                          font-family: 'Open Sans', sans-serif;
                          font-size: 1.1rem;
                      }
                    }
                }
            }

            .btn-cities{
                padding: 0 40px;
                color: $blue-dark;
                text-decoration: none;
                display: block;
                margin-top: 10px;
            }
        }

        @media(max-width: $screen-xs-max){
            position: relative;
            top: auto;
            right: auto;
            height: auto;
            .content-cities{
                .title-cities {
                    padding: 30px 30px 0px 30px;
                    h2{
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
    
                    .icon-cities{
                        width: 50px;
                    }
                }

                .link-cities{
                    .box-run-citie{
                      .place-text {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                        padding: 20px 30px;
                        }
                    }
                }

                .btn-cities{
                    padding: 0 30px 30px;
                }
            }
        }
    }

}

.volunteer-section{
    .normal-text-sections-light p {
        color: $white!important;
        font-size: 16px;
        line-height: 19px;
        &:nth-child(1){
            font-weight: bold;
        }
    }
}

.about-section{
    .extra-lg-text-dark {
        color: $blue-dark;
        text-align: left;
        font-family: 'Oswald', sans-serif;
        font-size: 4rem;
        line-height: 4rem;
        text-transform: uppercase;
    }

    .normal-text-sections-dark p {
        color: $gray-medium;
        font-size: 16px;
        line-height: 19px;
    }
}

.form-volunteer{
    .form-control{
        background-color: $blue-5;
        border: 0;
        padding: 1.7rem 2.4rem;
        color: $white;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
        outline: none!important;
        box-shadow: none!important;
        @include border-radius(50px);
    }

    button{
        cursor: pointer;
    }

    select.form-control:not([size]):not([multiple]){
        height: calc(5.25rem + 7px);
    }

    select option {
        color: $white;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    select option:first-child {
        color: $white;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
    }
    
    /* Hidden placeholder */
    select option[disabled]:first-child {
        color: #ffffff61;
    }

    .btn-form-volunteer{
        width: 100%;
        background-color: $blue-4;
        border: 0;
        padding: 1.7rem 2rem;
        color: $white;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.5rem;
        outline: none!important;
        box-shadow: 0!important;
        @include border-radius(50px);
    }

    ::-webkit-input-placeholder { /* Edge */
        color: $white;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $white;
      }
      
      ::placeholder {
        color: $white;
      }
}

.title-text{
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.boxy-aux {
    position: relative;
    height: 100%;
    /* padding: 12rem 7rem; */
    .aux-padding-content{
        padding: 12rem 7rem;
        @media(max-width: $screen-xs-max){
            padding: 5rem 3.5rem;
        }
    }
  
    h1.title {
      font-size: 4rem;
      line-height: 4rem;
      margin: 0;
      margin-bottom: 1rem;
      @media(max-width: $screen-xs-max){
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
    }
  
    .text ul {
      padding: 0;
      margin: 0;
      list-style: none;
  
      li {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size: 1.2rem;
      }
    }
  
    .bottom-text {
      text-align: center;
  
      .link {
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: #fff;
        font-size: 1.3rem;
  
        a {
          font-family: 'Oswald', sans-serif;
          text-transform: uppercase;
          color: #fff;
          font-size: 1.3rem;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
  
          &:hover, &:focus {
            color: #abadb3;
            text-decoration: none;
          }
        }
      }
  
      .text {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  
    .project-link-full {
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  
    &.c1-color {
      background-color: #EEEEEE;
  
      h1.title {
        color: #232931;
      }
  
      .text {
        color: rgba(0, 0, 0, 0.66);
      }
  
      .slg-text {
        color: #232931;
      }
  
      .normal-lg-text p {
        color: rgba(0, 0, 0, 0.66);
      }
    }
  
    &.primary-color {
      background-color: $blue-3;
  
      h1.title {
        color: $white;
      }
  
      .text {
        color: rgba(0, 0, 0, 0.66);
      }
  
      .slg-text, .normal-lg-text p {
        color: #fff;
      }
    }
  
    &.default-color {
      background-color: #232931;
  
      h1.title {
        color: #EEEEEE;
      }
  
      .text {
        color: rgba(216, 216, 216, 0.66);
      }
  
      .slg-text {
        color: #fff;
      }
  
      .normal-lg-text p {
        color: rgba(255, 255, 255, 0.66);
      }
    }
  
    &.c2-color {
      background-color: #393E46;
  
      h1.title {
        color: #EEEEEE;
      }
  
      .text {
        color: rgba(216, 216, 216, 0.66);
      }
  
      .slg-text {
        color: #fff;
      }
  
      .normal-lg-text p {
        color: rgba(255, 255, 255, 0.66);
      }
    }
  
    &.img-box {
      position: relative;
      padding: 4rem;
      min-height: 652px;
      z-index: 1;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -moz-align-items: flex-end;
      -webkit-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
      overflow: hidden;
  
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #232931;
        opacity: 0;
        z-index: -1;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
  
      .img {
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
  
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transform-origin: center center;
        -moz-transform-origin: center center;
        -ms-transform-origin: center center;
        transform-origin: center center;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
      }
  
      &:hover .img, &:focus .img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
  
      &:hover:before, &:focus:before {
        opacity: 0.8;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  
  .box-cities-run{
        .locale-cities-run{
            font-size: 2.6rem;
        }

        .btn-holder{
            display: inline-block;
            margin-bottom: 10px;
        }

        .normal-text-sections-light{
            p{

                font-weight: normal!important;
            }
        }
  }

  .text-detail-run{
      p{
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: bold;
      }
  }

  .btn-contact-more{
      color: $white;
      text-decoration: none;
      &:hover{
        color: $white;
        text-decoration: none;
      }
  }

  @media(max-width: $screen-xs-max){
    .title-sponsors{
        font-size: 2rem!important;
        line-height: 2rem!important;
        margin-bottom: 2rem!important;
        text-align: left!important;
    }
  }
      