/*colors*/
$blue-1: #00C8FA;
$blue-2: #38A1BB;
$blue-3: #008AAD;
$blue-4: #4BD7FA;
$blue-5: #00627A;
$blue-dark: #232931;
$gray-light: #F2F2F2;
$gray-medium: #797979;
$gray-dark: #3C3C3C;
$white: #fff;

/*font color*/
.other-color-1{
    color: $blue-1;
    /* border-bottom: 2px solid $blue-1; */
    font-family: 'Oswald', sans-serif;
}

.other-color-2{
    color: $blue-2;
    /* border-bottom: 2px solid $blue-2; */
    font-family: 'Oswald', sans-serif;
}

.other-color-3{
    color: $blue-3;
    /* border-bottom: 2px solid $blue-3; */
    font-family: 'Oswald', sans-serif;
}

.other-color-4{
    color: $blue-4;
    /* border-bottom: 2px solid $blue-4; */
    font-family: 'Oswald', sans-serif;
}

.other-color-5{
    color: $blue-5;
    /* border-bottom: 2px solid $blue-5; */
    font-family: 'Oswald', sans-serif;
}

.bg-blue-5{
    background-color: $blue-5!important;
}

/*Buttons*/
.light-btn{
    
    &:hover, &:focus {
        color: $white!important;
        text-decoration: none;
        -webkit-box-shadow: inset 0 0 0 3.25rem $white!important;
        box-shadow: inset 0 0 0 3.25rem $white!important;
      }
    
      &.primary {
        color: $white!important;
        -webkit-box-shadow: inset 0 0 0 0.28rem $white!important;
        box-shadow: inset 0 0 0 0.28rem $white!important;
    
        &:hover, &:focus {
          color: $blue-dark!important;
          -webkit-box-shadow: inset 0 0 0 3.25rem $white!important;
          box-shadow: inset 0 0 0 3.25rem $white!important;
        }
      }
}


/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";